@model IEnumerable<EMS_ENTITIES.Registration>

@{
    ViewBag.Title = "Index";
}

<h2>Users registered for this event</h2>

<p>
    @Html.ActionLink("Register new user", "CreateRegistration")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRegistrationView", new { RegistrationId=item.RegistrationID }) |
            @Html.ActionLink("Delete", "DeleteRegistration", new { RegistrationId=item.RegistrationID })
        </td>
    </tr>
}

</table>
